<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/download (1).jpeg"
        alt="gambar"
        class="img-thumbnail rounded-circle"
        width="200px"
      />
      <h1 class="display-4">JeanSosial</h1>
      <p class="lead">Working || Study</p>
    </div>
  </div>
</div>
